<main class="categories-main-page">



    <% for (let i = 0; i < categories.length; i++) { %>

        <%- include("./partials/category.ejs", {
            categoryId: categories[i].id,
            categoryName: categories[i].name,
            canDel: true,
            onClick: "redirect",
            url: '/items/' + categories[i].id
        }) %>

    <% } %>

    <%- include("./partials/category.ejs", {
        categoryName: "All Items",
        canDel: false,
        onClick: "redirect",
        url: "/all-items"
    }) %>

    <%- include("./partials/category.ejs", {
        categoryName: "+ Add Category",
        canDel: false,
        onClick: "add-category",
        url: "#"
    }) %>



</main>

<%- include("./partials/dialog.ejs", {
    actionUrl: url
}) %>


<script>
    const itemCategories = document.querySelectorAll(".category-outer-container[data-action='redirect']");
    itemCategories.forEach((category) => {
        const categoryURL = category.getAttribute("data-redirect-url");

        category.addEventListener("click", (e) => {
            e.stopPropagation();
            window.location.href = categoryURL;

        });

    });

</script>

<script>
    const delBtnAll = document.querySelectorAll(`.category-del-btn`).forEach(delBtn => {
        const categoryId = delBtn.getAttribute("data-category-id");

        delBtn.addEventListener("click", async (e) => {
            e.stopPropagation();

            const response = await fetch(`/api/category/${categoryId}`, {
                method: 'DELETE'
            });
    
            if (response.status === 204 || response.ok) {
                alert('Category deleted!');
                location.reload();
            } else {
                alert('Failed to delete category');
            }
    
        });

    });
</script>


<script>
    const addCategoryBtn = document.querySelector(".category-outer-container[data-action='add-category']");
    const dialog = document.querySelector("dialog");
    const dialogCloseBtn = dialog.querySelector(".close-btn");

    addCategoryBtn.addEventListener("click", () => {
        dialog.showModal();

        dialogCloseBtn.addEventListener("click", () => { 
            dialog.close();

        }, { once: true });

    });
    
    
    
</script>



<%- contentFor('pageTitle') %>
    <title>Categories Page</title>


<%- contentFor('styleSheets') %>
    <link rel="stylesheet" href="/pages/categoryPage.css">
    <link rel="stylesheet" href="/partials/dialog.css">
    <link rel="stylesheet" href="/partials/category.css">