<main class="categories-main-page">



    <% for (let i = 0; i < categories.length; i++) { %>

        <%- include("./partials/category.ejs", {
            categoryName: categories[i].name,
            canDel: true,
            onClick: "redirect",
            url: '/items/' + categories[i].id
        }) %>

    <% } %>

    <%- include("./partials/category.ejs", {
        categoryName: "All Items",
        canDel: false,
        onClick: "redirect",
        url: "/all-items"
    }) %>

    <%- include("./partials/category.ejs", {
        categoryName: "+ Add Category",
        canDel: false,
        onClick: "add-category",
        url: "#"
    }) %>



</main>

<script>
    const itemCategories = document.querySelectorAll(".category-outer-container[data-action='redirect']");
    itemCategories.forEach((category) => {
        const categoryURL = category.getAttribute("data-redirect-url");

        category.addEventListener("click", (e) => {
            e.stopPropagation();
            window.location.href = categoryURL;

        });

    });

</script>




<%- contentFor('pageTitle') %>
    <title>Categories Page</title>


<%- contentFor('styleSheets') %>
    <link rel="stylesheet" href="/pages/categoryPage.css">
    <link rel="stylesheet" href="/partials/category.css">